.axs_overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #000000;
    opacity: .25;
    filter: alpha(opacity=25);
    -moz-opacity: .25;
    z-index: 101;
}

.axs_dialog_wrapper {
    display: block;
    position: fixed;
    width: 380px;
    height: 250px;
    top: 50%;
    left: 50%;
    margin-left: -190px;
    margin-top: -100px;
    background-color: #ffffff;
    border: 2px solid #333;
    border-radius: 10px;
    padding: 0;
    z-index: 102;
    font-family: Verdana;
    font-size: 10pt;
}

.axs_dialog_wrapper .axs_dialog_header {
    margin: 0;
    border-bottom: solid 2px #333;
    background-color: #333;
    padding: 4px;
    color: White;
    font-weight: bold;
    height: 25px;
}

.axs_dialog_header h2 {
    float: left;
    margin-top: 0;
    margin-left: .5em;
}

.axs_dialog_header button {
    float: right;
    color: #333;
    padding: 3px;
    background-color: #fff;
    text-decoration: none;
    margin-right: .5em;
    border: 1px solid #fff;
    border-radius: 3px;
    width: 20px;
    height: 20px;
    line-height: 10px;
    margin-top: 4px;
}

.axs_dialog_header button:focus, .axs_dialog_header button:hover {
    float: right;
    color: #fff;
    padding: 3px;
    background-color: #666;
    text-decoration: none;
    margin-right: .5em;
    border: 1px solid #fff;
    border-radius: 3px;
    width: 20px;
    height: 20px;
    line-height: 10px;
    margin-top: 4px;
    outline: none;
}

.axs_dialog_content {
    padding: 1em;
}

.align_right {
    text-align: right;
}

.axs_dialog_wrapper form label {
    display: block;
    margin-bottom: 1.7em;
}

.axs_dialog_wrapper form label input {
    width: 350px;
    height: 2em;
}

.axs_dialog_wrapper form label span {
    display: block;
    font-weight: bold;
}

.axs_hidden {
    display: none;
}
